/*!
Theme Name:   Sevenloft Eshop
Theme URI:    https://www.sevenloft.gr/service/kataskevi-istoselidon/
Author:       Sevenloft IKE
Author URI:   https://sevenloft.gr
Description:  Sevenloft is our starter theme for our woocommerce projects. Designed and developed by Sevenloft Core developers
Version:      0.01
License:      GNU General Public License v2 or later
License URI:  https://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  sevenloft-eshop
Tags:         e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options, editor-style
*/

/* Global */

.hidden {
  display: none !important;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.aligncenter {
  text-align: center;
}

h1 {
  font-size: 22px;
  color: #0B0C0C;
  margin-bottom: 20px;
  clear: both;
  line-height: 42px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 18px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #0B0C0C;
  font-weight: bold;
  padding-bottom: 16px;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #0B0C0C;
  font-weight: 300;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

/* Selection */
::selection {
  background-color: #ccc;
  color: #fff;
}

::-moz-selection {
  background-color: #ccc;
  color: #fff;
}

::-webkit-selection {
  background-color: #ccc;
  color: #fff;
}

/* GENERAL STYLE */
.color-black {
  color: #333;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background: #000;
  color: white;
}


/* header */
.topheader {
  background: #000;
  font-size: 12px;
}

.topheader a {
  color: black;
}

.header span,
.header a {
  color: black;
}

.topheader .fa {
  color: #000000;
  font-size: 17px;
}

.search-wr * {
  box-shadow: none !important;
}

.search-wr input {
  border: 1px solid rgba(129, 129, 129, .2);
  padding: 7px 10px;
  margin: 0;
  float: left;
  background: #f1f1f1;
}

.search-wr select,
.variations select {
  border: 1px solid rgba(129, 129, 129, .2);
  border-left: 0;
  margin: 0;
  padding: 6px 10px;
  float: left;
}


.search-wr button {
  border: 1px solid rgba(129, 129, 129, .2);
  background: none;
  padding: 10px 15px;
  border-left: 0;
}

.dgwt-wcas-si img {
  border-left: 0;
  border-right: 0;
  width: 100% !important;
  height: auto !important;
}

.dgwt-wcas-st {
  line-height: 20px;
  font-size: 13px;
}

span.header-cart-btn .fa {
  color: #000000;
  font-size: 22px;
  vertical-align: sub;
  padding-right: 8px;
}

.header-cart-wr {
  display: block;
  position: relative;
  margin-top: 25px;
}

.cart-hidden {
  display: none;
  font-size: 12px;
  padding: 15px;
  clear: both;
  text-align: center;
  background: #696a6a;
  border-top: 1px solid #aaa;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 100;
}

.cart-hidden .basket-items {
  color: #fff;
}

span.viewCart a {
  background: #aa8d74;
  padding: 2px 5px;
  color: #000;
  font-size: 12px;
  cursor: pointer;
}

span.viewCart {
  padding-top: 10px;
  display: inline-block;
  cursor: pointer;
}

span.header-cart-count {
  color: #000000;
}

.xs-login .fa {
  margin-left: 5px;
  display: block;
  float: right;
}

.before-menu-info {
  font-size: 13px;
  background: #f4f4f4;
  padding: 15px;
  text-align: center;
  color: #8b8b8b;
  margin-top: 50px;
}

.before-menu-info strong {
  color: #000;
}

.before-menu-info .fa {
  color: #aa8d74;
  font-size: 16px;
  padding-right: 8px;
}


#menu-vasiko-menu li a {
  color: white;
  margin-right: .5rem;
  font-size: 14px;
  padding: 15px 0;
}

#menu-vasiko-menu li ul a {
  color: white;
  margin-right: .5rem;
  font-size: 14px;
  padding: 15px 10px;
}

#menu-vasiko-menu li a:hover,
#menu-vasiko-menu li a:active,
#menu-vasiko-menu li a:focus {
  background-color: transparent !important;
  color: #cecece !important;
}

.menu.main-menu {
  background: #000000;
  display: block;
  float: left;
  width: 100%;
  transition: all 0.3s;

}

#fixedmenu {
  margin: auto;
  z-index: 9999;
  max-width: 100%;
  margin-top: 20px;
}

.fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: 0 !important;
  transition: all 0.3s;
}

nav.navbar.navbar-expand-md {
  padding: 0;
}

#tab_characteristics a {
  color: #777;
  text-decoration: underline !important;
}

#tab_characteristics a:hover {
  color: #aa8d74;
}

.p-t {
  padding-top: 4px;
}

.header-cart-btn img {
  width: 20px;
}


.logo-mobile img {
  max-width: 100%;
  height: auto;
}

.logo-mobile a {
  display: none;
}

.navbar-toggler {
  position: relative;
  height: 25px;
  outline: none !important;
  z-index: 9999;
  margin-top: -10px;
}

.header-cart-btn a {
  margin-right: 15px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.info-til {
  color: white;
}

.info-til a {
  color: white;
}

/* end of header */

.myBasket {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: url(img/pattern2.jpg);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  z-index: 99999;
  color: #2b2a29;
}

.myBasket a,
.myBasket p {
  color: #000;
  font-weight: normal !important;
  line-height: 20px;
}

.myBasket a.closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.myBasket a.closebtn:hover {
  color: #000;
}

.myBasket .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

.myBasket ul.cart_list li a,
.myBasket ul.product_list_widget li a {
  font-size: 14px;
  width: 100%;
}

.myBasket span.quantity {
  font-size: 12px;
  clear: both;
  display: block;
  padding-top: 15px;
  text-align: right;
  color: #000;
  font-weight: bold;
}

.myBasket a.remove {
  float: right;
  font-size: 20px !important;
  margin-left: 15px;
  border: 1px solid #fff;
  color: #fff !important;
  border-radius: 100%;
  width: auto !important;
  padding: 2px 5px 0 5px;
  height: 24px;
}

.myBasket a.remove:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000 !important;

}

.myBasket p.woocommerce-mini-cart__buttons.buttons a,
.myBasketButtons {
  margin-right: 0;
  background: #fff !important;
  color: #000 !important;
  padding: 10px 7px;
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  white-space: nowrap;
  float: left;
  font-weight: bold !important;
}

.myBasket p.woocommerce-mini-cart__buttons.buttons a:after,
.myBasketButtons:after {
  content: "\f105";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

a.button.continue-shopping:after {
  display: none !important;
}

a.button.continue-shopping:before {
  content: "\f104";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-weight: bold;
  font-size: 15px;
}

.myBasket p.woocommerce-mini-cart__buttons.buttons a:hover,
.myBasketButtons:hover {
  color: #fff !important;
  background: #000 !important;
  border: 1px solid #000;
}

.myBasketButtons a {
  font-size: 14px;
}

.myBasketButtons:hover a {
  color: #fff;
}

.myBasket h6.subtotal {
  font-size: 12px;
}

span.mini-cart-title {
  display: block;
  margin-bottom: 30px;
  color: #000;
  margin-top: 20px;
}

.myBasket ul.cart_list li img {
  float: left;
  width: 50px;
  margin-left: 0;
  margin-right: 10px;
  height: auto;
}

.myBasket ul.cart_list li,
.myBasket .dropdown-cart-wrap {
  border-top: 1px dashed;
  padding-top: 20px;
  margin-top: 20px;
}

.myBasket p.woocommerce-mini-cart__total.total {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  padding: 20px 0;
  margin-bottom: 60px;
  font-weight: bold !important;
  font-size: 16px;
}

.myBasket ul.cart_list li:last-child {
  border-bottom: none;
}

.myBasket .dropdown-cart-left {
  width: 30%;
  float: left;
}

.myBasket .dropdown-cart-right {
  width: 65%;
  float: left;
  padding-left: 5%;
}

.myBasket .dropdown-cart-right h5 {
  font-size: 14px;
  margin-bottom: 15px;
}

.myBasket .dropdown-cart-right p {
  margin-bottom: 0 !important;
  font-size: 12px;
}

.myBasket .dropdown-cart-left img {
  width: 100%;
  height: auto;
}

.myBasket .variation dt {
  font-size: 13px;
  display: inline;
  float: left;
}

.myBasket .variation dd {
  display: inline;
  float: left;
  padding-left: 5px;
}

.myBasket .variation dd p {
  float: left;
  font-size: 13px;
  font-weight: bold;
}

.myBasket .variation {
  margin-top: 10px;
}

/*mini cart plugin*/

.slide-right__js-open .slide-right__close {
  background-color: #000000 !important;
  height: 34px !important;
}

.slide-right__js-open .slide-right {
  right: 0 !important;
}

.slider-right__content>h2 {
  background: none;
  font-size: 20px;
  color: #333;
  border-bottom: 1px dashed #000000 !important;
  margin-bottom: 25px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: normal;
  padding-left: 20px;
  text-align: center;
}

.lazy {
  opacity: 1 !important;
}

.slider-right__money,
.slider-right__product>li {
  border-bottom: 1px dashed #000000;
}

.slider-right__product>li>a h3 p {
  text-align: right;
  margin-top: 15px;
  color: #000 !important;
  font-weight: 400;
}

.slider-right__product>li>a h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  line-height: 20px;
}

.slider-right__product {
  height: 70%;
}

.slider-right__money strong,
.slider-right__product>li>a h3 p strong,
.slider-right__money a {
  color: #000 !important;
  font-weight: 300;
}


.slider-right__money span {
  color: #000;
  font-weight: bold;
}

.slider-right__product>li>a h3 p {
  margin-top: 15px;
}

.slider-right__money span.woocommerce-Price-amount {
  font-size: 16px;
}

.slider-right__product>li {
  border-bottom: 1px dashed #000000;
  padding: 15px 0 !important;
  margin: 15px 10px !important;
}

.slider-right__money strong,
.slider-right__product>li>a h3 p strong,
.slider-right__money a {
  color: #000 !important;
}

.slider-right__product {
  overflow-y: auto;
  height: 70%;
}

.deleteCart {
  margin-top: -4px;
  padding: 0 !important;
}

.deleteCart a.remove {
  margin-right: -18px;
  background-color: #f4f4f4 !important;
  margin-top: -23px;
  width: 20px;
  height: 20px;
}

.deleteCart a.remove:hover {
  background-color: #aa8d74 !important;
  background: url(/wp-content/plugins/woocommerce-cart-pro/frontend/images/font-awesome_rash.png) no-repeat center;
}

a.slider-right__order {
  background: #fff !important;
  color: #000 !important;
  padding: 10px 7px;
  border: 1px solid #000;
  width: 90%;
  text-align: center;
  margin-bottom: 8px;
  white-space: nowrap;
  float: left;
  font-weight: bold !important;
}

a.slider-right__order:after {
  content: "\f105";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

a.slider-right__order:hover {
  color: #fff !important;
  background: #000 !important;
  border: 1px solid #000;
}

figure.slider-right__product--imag img {
  max-width: 100%;
  max-height: 90px;
  height: auto;
  width: auto;
}

figure.slider-right__product--imag {
  display: block;
  width: 100px;
  height: 100px;
}

a.slider-right__order.continue-shopping {
  margin-top: 0;
}

a.slider-right__order.continue-shopping:after {
  display: none;
}

a.slider-right__order.continue-shopping:before {
  content: "\f104";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-weight: bold;
  font-size: 15px;
}

.viewCartButton {
  margin-top: 0;
}

.slider-right__money.div0 {
  display: none;
}

.slider-right__content {
  padding: 0;
}

.slide-right__inner {
  visibility: hidden;
}

.slide-right {
  right: -320px !important;
}

.slide-right .slider-right__content {
  padding: 20px 0 !important;
}

.slide-right span.woocommerce-Price-amount.amount {
  color: #000;
}

/* Scrollbar */

.slider-right__product::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.slider-right__product::-webkit-scrollbar-thumb:window-inactive {

  background: rgba(254, 204, 0, 0.6);
}

.slider-right__product::-webkit-scrollbar-track {
  background-color: #636362;
}

.slider-right__product::-webkit-scrollbar-thumb {
  background: rgba(254, 204, 0, 0.7);
}

/*end mini cart*/

/* Homepage Slider*/

.slider-main .center.slick-initialized {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  margin-left: 0;
  min-height: 100%;
  height: auto;
}

.center.slick-initialized {
  bottom: 1.5rem;
  height: 100%;
  left: -50vw;
  margin-left: 50%;
  max-width: none;
  position: relative;
  top: 0;
  width: 100vw;
}

.slick-list {
  position: relative;
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.slider-main {
  padding: 0;
  margin-top: 71px;
}

.hero__slide {
  position: relative;
  cursor: pointer;
}

.slider-main .sub__title {
  background: transparent;
  color: #fff;
  font-size: 16px;
  margin-bottom: 1rem;
  padding-bottom: 0;
  position: relative;
  top: 1.25rem;
  transition: top .8s, opacity .8s;
}

.btn-more-main {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  margin-top: 22px;
}

.slick-slide img {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.btn-more-main img {
  display: block !important;
  margin: 0 !important;
  margin-left: 25px !important;
  width: 26px;
  transition: all 0.3s;
}

.hero__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 72vh;
  position: relative;
}

/* End of home Page Slider */
/* home news*/

section.home-tabs {
  padding: 80px 0;
}

.tab-content .has-children a.button,
.tab-content .product-type-variable a.button.product_type_variable.add_to_cart_button {
  background: url(img/more.png) no-repeat top center !important;
  background-size: 25px !important;
  border: none !important;
  text-indent: -9999px;
  width: 35px;
  float: right;
  position: absolute;
  right: 0;
  bottom: 35px;
  height: 28px;
  display: none;
}

body.archive.tax-product_cat a.button.product_type_variable.add_to_cart_button {
  display: none;
}

.tab-content a.button.product_type_simple.button {
  background: url(assets/images/addtocart.png) no-repeat top center !important;
  background-size: 25px !important;
  border: none !important;
  text-indent: -9999px;
  width: 45px;
  float: right;
  position: absolute;
  right: 27px;
  bottom: 17px;
  height: 28px;
  display: block;
}

body.archive.tax-product_cat a.button.product_type_simple.ajax_add_to_cart {
  display: none;
}

body.archive.tax-product_cat a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  background: url(assets/images/addtocart.png) no-repeat top center !important;
  background-size: 22px !important;
  border: none !important;
  text-indent: -9999px;
  width: 45px;
  float: right;
  position: absolute;
  right: 27px;
  bottom: 13px;
  height: 27px;
  display: block !important;
}

.archive .tinvwl_add_to_wishlist_button {
  position: absolute !important;
  right: 0;
  bottom: 15px;
  height: 28px !important;
  display: block;
}

.archive .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before {
  font-size: 24px !important;
  color: black;
}

body.archive.tax-product_cat a.added_to_cart.wc-forward {
  display: none !important;
}

body.archive.tax-product_cat a.button.product_type_variable {
  display: none;
}

.woocommerce .tab-content .products ul,
.woocommerce .tab-content ul.products {
  padding-left: 0;
  padding-right: 0;
}

.single-product .onbackorder button[name="add-to-cart"] {
  opacity: 0;
}


.woocommerce div.product .stock {
  color: #000;

}

.woocommerce div.product p.stock {
  padding: 10px 0;
  font-size: 14px;
  display: none;
}

.woocommerce div.product .smallquantity .stock {
  color: orange;
}

.better-price {
  padding-bottom: 30px;
  line-height: 22px;
}

.better-price strong a {
  font-size: 18px;
}

.bubble .inside-text {
  position: absolute;
  top: 10px;
  right: 5px;
  background: #333;
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  border-radius: 100%;
  font-size: 18px;
  padding: 15px 5px;
  border-radius: 30px;
  z-index: 30;
}

.single-product .bubble .inside-text {
  left: 10px;
  right: auto;
}

.tab-content h3 {
  padding: 10px 0 !important;
  line-height: 16px !important;
  text-align: left !important;
  font-size: 13px;
  margin-top: 5px;
  color: #0B0C0C;
}

.tab-content .amount {
  font-weight: bold;
}

.tab-content .price {
  color: #0B0C0C;
  padding: 0 10px;
  width: auto;
  background-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 28px;
}

.price del span {
  color: red;
}

#tabs .nav {
  margin-left: 16px;
  border-bottom: 4px solid #efefef;
  margin-top: 20px;
  margin-bottom: 10px;
}


.tab-content ul.products li {
  padding: 0 0 30px 0 !important;
  background-color: #fff;
  border: 2px solid #ddd;
  margin-top: 30px !important;
  width: 100% !important;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.tab-content ul.products li:hover {
  border: 2px solid #000;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.tab-content ul.products li a {
  display: block;
  width: 100%;
  overflow: hidden;
}

.tab-content ul.products li a.added_to_cart.wc-forward {
  font-size: 14px;
  background: #FECC00;
  padding: 8px 14px;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  color: #0b0c0c;
  bottom: -1px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: none;
}

li.product ins,
ul.products ins {
  text-decoration: none;
}

ul.products.columns-4.product-cat-wr {
  padding-left: 0;
  padding-right: 0;
}

ul.products li.product .wc-new-badge {
  position: absolute;
  left: 30px;
}

.featured-products-wr .products {
  height: 451px;
  visibility: hidden;
}

.featured-products-wr .nav-pills li a {
  border-radius: 0;
  background: #efefef;
  padding: 15px 30px;
}

.featured-products-wr .nav-pills>li.active>a,
.featured-products-wr .nav-pills>li.active>a:focus,
.featured-products-wr .nav-pills>li.active>a:hover {
  background: #333;
}

ul.products li.product {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

ul.products li.product:hover {
  box-shadow: 1px 1px 5px #aaa;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.archive .product .price,
.page-template-archive-product_sale .product .price {
  left: 15px !important;
}

ul.products li.product .price {
  font-size: 18px !important;
  color: #000000 !important;
  position: absolute;
  bottom: 4px;
  left: 0px;
  font-weight: 400 !important;
}

ul.products li.product a:hover h3 {
  color: #666;
}

.woocommerce-Price-amount .amount {
  font-size: 16px !important;
}

#tab_new ul .tab-wr.item {
  width: 100%;
  max-width: 100%;
  padding: 15px;
}

#tab_new ul .tab-wr.item .product {
  position: relative;
  padding: 10px !important;
  max-height: 450px; 
}

div#tab_new .tinvwl_add_to_wishlist_button {
  position: absolute;
  right: 2px;
  bottom: 13px;

}

div#tab_new .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before {
  font-size: 25px;
  color: black;
}

#tab_new ul .tab-wr.item .product img,
.latest .tab-wr.item .product img {
  width: 200px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center center;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
  padding: 15px;
}

.latest .price {
  color: #0B0C0C;
  padding: 0 10px;
  width: auto;
  background-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 28px;
}

.span3 {
  padding: 0 0 30px 0 !important;
  background-color: #fff;
  border: 2px solid #ddd;
  margin-top: 30px !important;
  width: 100% !important;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  height: 365px !important;
  position: relative;
  padding: 10px !important;
  margin: 15px;
}


.latest h3 {
  background: transparent !important;
  font-size: 14px !important;
  padding-left: 10px !important;
  color: black !important;
  text-align: left;
}

.latest .protin {
  margin-top: 15px;
  margin-bottom: 45px;
}

#tab_new .owl-next,
#tab_new .owl-prev,
.latest .owl-next,
.latest .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background: #000000;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  padding-top: 0px;
}

.home-tabs .owl-nav i,
.latest .owl-nav i {
  margin-top: 4px;
  display: block;
  cursor: pointer;
}


#tab_new .owl-next,
.latest .owl-next {
  right: -40px;
}

#tab_new .owl-prev,
.latest .owl-prev {
  left: -40px;
}

/* FOOTER */

footer {
  background: #0B0C0C;
  padding: 50px 0 20px 0;
  color: #ffffff;
  position: relative;
}

.f-menu {
  padding-bottom: 50px;
  display: block;
  float: left;
  width: 100%;
}

.f-menu-title {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

.newsletter-banner i.fa.fa-envelope-o {
  font-size: 22px;
}

input.newsl-input2 {
  padding: 10px 10px;
  max-width: 300px;
  width: 100%;
  border: 2px solid transparent;
  border-bottom: 2px solid white;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
  color: #ffffff;
  height: 50px;

}

.newsl-input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

input.newsl-button {
  padding: 14px 25px;
  border: 2px solid white;
  background: #0B0C0C;
  color: #FFF;
  border-bottom: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
  height: 50px;
}


input.newsl-button::before {
  border-width: 10px;
  border-right-color: #FECC00;
  border-top-color: #FECC00;
}

input.newsl-button::before,
input.newsl-button::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  border-color: transparent;
  border-style: solid;
}

input.newsl-button::after {
  border-width: 10px;
  border-right-color: #FECC00;
  border-top-color: #FECC00;
}

.f-menu li {
  padding-bottom: 10px;
}

.f-menu li a {
  color: #ffffff;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.f-menu li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.f-menu li a:hover:before {
  left: 0;
  right: 0;
}

.f-social a {
  font-size: 23px;
  display: inline-block;
  padding: 5px 7px;
}

.footer-info {
  background: #0B0C0C;
  padding: 15px;
  color: #fff;
  font-size: 14px;
}

.info_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info a {
  color: #ffffff;
}

.footer-banner {
  background: #0B0C0C;
  color: #fff;
  padding: 15px;
  position: relative;
  /*margin-top: -52px;*/
}

.f-ban-title {
  font-weight: bold;
  padding-bottom: 15px;
}

.f-ban-content p {
  color: #fff;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 0;
}

.f-ban-content p a {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.f-ban-content p a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.f-ban-content p a:hover:before {
  left: 0;
  right: 0;
}

.footer-banner::before,
.footer-banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.footer-banner::before {
  border-width: 26px;
  border-right-color: #aa8d74;
  border-top-color: #aa8d74;
}

.footer-banner::after {
  border-width: 22px;
  border-right-color: #0B0C0C;
  border-top-color: #0B0C0C;
}

.cardsp {
  margin-top: 25px;
}

.fixed-social a {
  font-size: 40px;
  float: left;
  clear: both;
}

footer .f-social a {
  color: #ffffff;
}

.fixed-social a.facebook {
  color: #fff;
}

.fixed-social a.instagram {
  color: #fff;
}

.mailchp {
  padding-bottom: 50px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc4wp-form-fields {
  width: 600px;
  text-align: center;
}

.tx-right {
  text-align: right;
}

/* END OF FOOTER */

/* PRODUCT LIST */
.product-item {
  padding: 20px 10px 30px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-item:hover {
  box-shadow: 1px 1px 5px #aaa;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-item p {
  display: none;
}

.product-item h3 {
  padding: 10px 0 !important;
  line-height: 32px !important;
  text-align: left !important;
  font-size: 17px;
  margin-top: 5px;
  color: #0B0C0C;
}

.product-item span.woocommerce-Price-amount.amount {
  /*float: left;*/
  color: #333;
}

.product-item del span.woocommerce-Price-amount.amount {
  color: red;
  padding-right: 5px;
  text-decoration: line-through;
}

.product-item del {
  text-decoration: line-through;
  color: #333;
  font-weight: bold;
}

.product-item ins {
  font-weight: bold;
}

.product-item .img-wr {
  text-align: center;
  display: block;
  min-height: 250px;
  float: left;
  width: 100%;
}

.product-item .img-wr {
  text-align: center;
  display: block;
}

span.wc-new-badge {
  display: none;
}

.prod-item {
  position: relative;
  float: left;
  clear: none;
  padding-left: 0;
}

.prod-item .product-item span.price {
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-weight: bold;
}

li.product-category.product img {
  display: inline !important;
}

li.product-category.product {
  text-align: center;
}

/* Product Archive */

span.viewMore {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 50%;
  background: rgba(255, 195, 0, 0.7);
  padding: 7px 15px;
  transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  z-index: 100;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.product-item:hover span.viewMore {
  background: rgba(255, 195, 0, 1);
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.single-product .crumbs {
  margin-top: 40px;
}

ul.crumbs {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.crumbs li:first-child {
  padding-left: 0px;
}

.crumbs li {
  position: relative;
  padding: 0px 15px 0px 15px;
  font-size: 13px;
}

.crumbs li a {
  color: black;
}

.crumbs li:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  top: 6px;
}

.crumbs li:last-child:after {
  display: none
}

.category-header {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  min-height: 180px;
  background-size: cover !important;
  margin-top: 55px;
}

.category-header:after {
  content: '';
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.category-header h1 {
  position: absolute;
  top: 10px;
  left: 15px;
  font-weight: normal;
  color: #fff !important;
  z-index: 100;
}

img.category-header-image {
  float: right;
}

.term-description {
  float: right;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 100;
  padding: 0 15px 15px 15px;
}

.term-description p {
  color: #fff !important;
  font-size: 16px;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 40px;
}

.tax-product_cat.woocommerce ul.products {
  padding-bottom: 60px;
}

.tax-product_cat.woocommerce h1 {
  font-size: 22px;
  color: #222;
  margin-bottom: 0;
}

.tax-product_cat ul.products {
  padding-right: 0;
  padding-left: 0;
}

li.product-category.product.last {
  margin-right: -15px !important;
}

li.product-category.product a {
  position: relative;
  width: 100%;
  /*height:  100%;*/
  display: block;
  float: left;
}

li.product-category.product h2.woocommerce-loop-category__title {
  white-space: normal;
  background: #aa8d74;
  padding: 10px 15px !important;
  color: #000;
  width: 100%;
  text-align: center;
  font-size: 14px !important;
  letter-spacing: 0.5px;
  font-weight: 600;
}

li.product-category.product h2.woocommerce-loop-category__title .count {
  background: none;
  color: #000;
}

li.product-category.product img {
  opacity: 1;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
  max-height: 250px;
  object-position: center;
  object-fit: contain;
  margin-bottom: 0 !important;
}

li.product-category.product:hover img {
  opacity: 0.6;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

/* Filters */
.filters {
  padding: 15px;
  background: #f4f4f4;
  /*margin-left: 15px;*/
  margin-bottom: 30px;
}

.prdctfltr_add_scroll {
  /*display: none;*/
  margin-bottom: 20px;
}

.prdctfltr_filter {
  margin-bottom: 0;
}

/* buttons */

a.button.wc-backward,
.woocommerce a.button,
.woocommerce button.button {
  background: #000 !important;
  border: 1px solid #000 !important;
  color: white !important;
  font-weight: 400 !important;
}

a.button.wc-backward:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover {
  background: #fff !important;
  color: #000 !important;
}

.woocommerce-LostPassword a {
  color: #000 !important;
}

button.woocommerce-Button.button {
  background: #000 !important;
  border-radius: 0 !important;
  border: 1px solid #000;
  font-weight: normal !important;
}

button.woocommerce-Button.button:hover {
  background: #fff !important;
  color: #333 !important;
}

button.woocommerce-Button.button.disabled {
  color: #ccc !important;
}

div#customer_login .form-row label.inline {
  display: block;
  float: right;
}

/* sales page */

/* account page */

div#customer_login {
  width: 100%;
}

.login-page-wr .woocommerce form.checkout_coupon,
.login-page-wr .woocommerce form.login,
.login-page-wr .woocommerce form.register {
  border-radius: 0;
  background: #efefef;
  min-height: 300px;
}

.pad-top-10 {
  margin-bottom: 15px;
}

.woocommerce-error {
  border-top-color: #333;
}

.woocommerce-error::before {
  color: #333;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  width: 60%;
  text-align: left;
  margin-bottom: 20px;
  display: grid;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  text-align: left;
  padding: 15px 10px;
  background: white;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border: 1px solid #333333;
  color: black;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
  color: white;
  background: #000000;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

header.woocommerce-Address-title.title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

header.woocommerce-Address-title.title a {
  font-weight: normal;
  padding-top: 10px;
  display: inline-block;
  border-bottom: 1px solid #333;
  font-size: 14px;
}

.woocommerce-Address address {
  background: #efefef;
  padding: 15px;
}

.woocommerce-MyAccount-content input {
  padding: 15px;
}

.woocommerce-info {
  border-top-color: #333;
}

.woocommerce-info::before {
  color: #333;
}

.woocommerce-MyAccount-content a {
  color: #2b2a29;
  font-weight: 500;
}

.woocommerce-MyAccount-content a:hover {
  color: #000;
  text-decoration: underline !important;
}

.u-columns.woocommerce-Addresses.col2-set.addresses {
  width: 100%;
}

/* BreadCrumb */

.woocommerce-breadcrumb {
  /*centering*/
  display: inline-block;
  /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);*/
  overflow: hidden;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag;
}

.woocommerce-breadcrumb li {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: #333;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 20px;
  /*    background: #666;
    background: linear-gradient(#666, #333);*/
  position: relative;
}

.woocommerce-breadcrumb {
  padding-top: 20px !important;
  margin-bottom: 30px !important;
  display: block;
}

.woocommerce .woocommerce-breadcrumb li a {
  color: #666;
}

.woocommerce .woocommerce-breadcrumb {
  line-height: 19px;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.woocommerce-breadcrumb li:first-child {
  padding-left: 46px;
  /*border-radius: 5px 0 0 5px; to match with the parent's radius*/
}

.woocommerce-breadcrumb li:first-child:before {
  left: 14px;
}

.woocommerce-breadcrumb li:last-child {
  /*border-radius: 0 5px 5px 0; this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.woocommerce-breadcrumb li a.active,
.woocommerce-breadcrumb li a:hover {
  color: #333;
}

.woocommerce-breadcrumb li a.active:after,
.woocommerce-breadcrumb li a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.woocommerce-breadcrumb li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  -ms-transform: scale(0.707) rotate(45deg);
  -webkit-transform: scale(0.707) rotate(45deg);
  -moz-transform: scale(0.707) rotate(45deg);
  -o-transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow:
    2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.woocommerce-breadcrumb li a:last-child:after {
  content: none;
}

.woocommerce-breadcrumb li:before {
  content: '\f105';
  padding-top: 4px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  text-align: center;
  color: #111;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prod-side {
  display: none;
}

.filters_button {
  background-color: #000;
  padding: 12px 22px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff !important;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  width: 170px;
}

.filters_button:hover {
  background-color: #efefef;
  color: #111 !important;
}

/* Product Detail */

.woocommerce div.product div.images .flex-control-thumbs li {
  margin-top: 10px !important;
  margin-right: 10px;
}

.product-detail {
  margin-top: 30px;
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 60px;
}

.single-product .product-image {
  width: 100%;
  float: left;
  position: relative;
}

.image-expand {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 100%;
  padding: 8px 9px;
  background: #efefef;
}

.image-expand a {
  color: #666;
}

.woocommerce div.product div.images img {
  width: auto !important;
  margin: auto;
}

.woocommerce div.product .product-detail div.images {
  width: 100%;
}

.single-product h1.product_title.entry-title {
  color: #000;
  font-weight: normal;
  line-height: 100%;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 32px;
}

.single-product .product-details {
  padding-left: 100px;
}

.single-product .product_meta {
  float: left;
  width: 100%;
}

.social-share {
  display: block;
  float: left;
  width: 100%;
  margin-top: 15px;
}

.sku_wrapper {
  color: #444;
}

.single-product .product_meta .posted_in {
  color: #777;
  display: none;
  padding-top: 8px;
  margin-bottom: 20px;
}

.single-product .product_meta .posted_in a {
  color: #444;
  line-height: 20px;
}

.single-product p.price {
  margin-bottom: 30px;
}

.single-product p.price span {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  display: inline-block;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  background-color: white;
}

.woocommerce div.product div.summary {
  margin-bottom: 2em;
  padding-left: 35px;
}

.single-product p.price ins {
  padding-left: 15px;
}

.single-product button.single_add_to_cart_button {
  background: #efefef !important;
  color: #666 !important;
  font-weight: normal !important;
  border: 1px solid #ccc !important;
  border-radius: 0 !important;
  height: 40px;
}

.single-product .quantity .qty {
  border: 1px solid #ccc;
  height: 40px;
}

.prod-short-descr {
  display: none;
}

.custom_availability {
  padding: 10px 0 10px 20px;
  position: relative;
}

.custom_availability:before {
  content: '';
  background: #8dc84d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/* RELATED PRODUCT LIST */
.related li {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
  clear: none !important;
  text-align: center;
  margin: 0 2% 2.992em 0 !important;
  width: 23.50% !important;
}

.related li.last {
  margin-right: 2% !important;
}

.related li:last-child {
  margin-right: 0 !important;
}

.related li p {
  display: none;
}

.related li h3 {
  padding: 20px 15px 0px !important;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  font-size: 14px !important;
  color: #0B0C0C;
}

.related ul.products li.product a:hover h3 {
  color: #000;
  text-decoration: underline;
}

.related li .price {
  padding: 0 15px !important;
  font-weight: bold !important;
}

.related li span.woocommerce-Price-amount.amount {
  float: left;
  color: #000;
}

.related li del span.woocommerce-Price-amount.amount {
  color: red;
  padding-right: 5px;
  text-decoration: line-through;
}

.related li del {
  text-decoration: line-through;
  color: red;
}

.related li .img-wr img {
  display: inline;
}

.related li .img-wr {
  text-align: center;
  display: block;
}

.related ul.products li.product h2 {
  padding: 1px !important;
  margin: 15px !important;
}

.related ul.products li.product .button {
  background: url(img/more.png) no-repeat top center !important;
  background-size: 25px !important;
  border: none !important;
  text-indent: -9999px;
  width: 35px;
  float: right;
  position: absolute;
  right: 0;
  bottom: 13px;
  height: 28px;
}

.related ul.products li.product .add_to_cart_button.button {
  background: url(assets/images/addtocart.png) no-repeat top center !important;
  background-size: 22px !important;
  border: none !important;
  text-indent: -9999px;
  width: 45px;
  float: right;
  position: absolute;
  right: 27px;
  bottom: 13px;
  height: 28px;
}

.related .price {
  color: #0B0C0C;
  padding: 0 10px;
  width: auto;
  background-size: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 28px;
}

.related .price span {
  float: none !important;
}

.related a.added_to_cart.wc-forward {
  font-size: 14px;
  background: #aa8d74;
  padding: 8px 14px;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  color: #0b0c0c;
  bottom: -1px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.related {
  margin-top: 40px;
  float: left;
  width: 100%;
}

.page-bg .related.products {
  margin-left: 15px;
}



.related h2 {
  background: #000;
  float: left;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
}

.related img {
  padding: 15px;
  height: 305px !important;
  width: auto !important;
  object-fit: cover;
  margin: auto !important;
}

/*UPSELLS PRODUCT GRID*/

.upsells li {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
  clear: none !important;
  text-align: center;
  margin: 0 !important;
  width: 100% !important;
}

.upsells li.last {
  margin-right: 2% !important;
}

.upsells li:last-child {
  margin-right: 0 !important;
}

.upsells li p {
  display: none;
}

.upsells li h3 {
  padding: 20px 15px !important;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  font-size: 14px !important;
  color: #0b0c0c;
}

.upsells li .price {
  padding: 0 15px !important;
  font-weight: bold !important;
}

.upsells li span.woocommerce-Price-amount.amount {
  float: left;
  color: #000;
}

.upsells li del span.woocommerce-Price-amount.amount {
  color: red;
  padding-right: 5px;
  text-decoration: line-through;
}

.upsells li del {
  text-decoration: line-through;
  color: #000;
}

.upsells li .img-wr img {
  display: inline;
}

.upsells li .img-wr {
  text-align: center;
  display: block;
}

.upsells ul.products li.product h2 {
  padding: 5px !important;
}

.upsells ul.products li.product .button {
  background: url(img/more.png) no-repeat top center !important;
  background-size: 25px !important;
  border: none !important;
  text-indent: -9999px;
  width: 25px;
  float: right;
  position: absolute;
  right: 13px;
  bottom: 35px;
  height: 28px;
  display: none;
}

.upsells ul.products li.product .add_to_cart_button.button.ajax_add_to_cart {
  background: url(assets/images/addtocart.png) no-repeat top center !important;
  background-size: 22px !important;
  border: none !important;
  text-indent: -9999px;
  width: 45px;
  float: right;
  position: absolute;
  right: 27px;
  bottom: 13px;
  height: 28px;
  display: block;
}

.upsells .tinvwl_add_to_wishlist_button,
.related .tinvwl_add_to_wishlist_button {
  position: absolute !important;
  right: 0;
  bottom: 15px;
  height: 28px !important;
  display: block;
}

.upsells .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before,
.related .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before {
  font-size: 24px !important;
  color: black;
}

.upsells .owl-controls .owl-prev,
.upsells .owl-controls .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.upsells .owl-controls .owl-prev {
  left: 0;
}

.upsells .owl-controls .owl-next {
  right: 0;
}

.upsells .owl-controls .owl-prev .fa,
.upsells .owl-controls .owl-next .fa {
  font-size: 30px;
  padding: 6px 15px;
  background: #aa8d74;
  color: #000;
}

.woocommerce ul.products li.first,
.woocommerce-page ul.products li.first {
  clear: none !important;
}

.woocommerce .upsells ul.products li,
.woocommerce .upsells ul.products li {
  width: 100% !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: left;
  margin: 10px 15px 1.992em 0% !important;
  position: relative;
  width: 29%;
  padding: 0px 0px 0px 0px !important;
  overflow: hidden !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}

.colz-4 ul.products li.product {
  width: 22.75% !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: left;
  margin: 10px 15px 1.992em 0% !important;
  position: relative;
  width: 22%;
  padding: 0px 0px 0px 0px !important;
  overflow: hidden !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}


.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  width: 30.75%;
}

.single-product li.product {
  float: left;
  margin: 10px 15px 1.992em 0% !important;
  position: relative;
  width: 29%;
  padding: 0px 0px 0px 0px !important;
  overflow: hidden !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}

.owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.upsells .price {
  color: #0B0C0C;
  padding: 0 10px;
  width: auto;
  background-size: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 28px;
}

.upsells .price span {
  float: none !important;
}

.upsells a.added_to_cart.wc-forward {
  font-size: 14px;
  background: #aa8d74;
  padding: 8px 14px;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  color: #0b0c0c;
  bottom: -1px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.upsells {
  margin-top: 40px;
}

.upsells h2 {
  background: #aa8d74;
  float: left;
  padding: 15px;
  margin-bottom: 10px;
}

.upsells img {
  padding: 15px;
  height: 305px !important;
  width: auto !important;
  object-fit: cover;
  margin: auto !important;
}


.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #333;
}

.single-product.woocommerce div.product span.price {
  display: block;
}

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
  vertical-align: baseline;
}

.woocommerce-product-gallery__image {
  margin: 5px;
}

table.variations .label {
  color: #111;
}

.single_variation_wrap {
  display: block;
  clear: both;
  margin-top: 30px;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
  opacity: 1;
}

.woocommerce div.product form.cart .button {
  background-color: #333;
  color: #fff !important;
  border: 1px solid #333;
}

.woocommerce div.product form.cart .button:hover {
  background: #fff !important;
  color: #333 !important;
}

.variations select {
  padding: 4px 10px;
}

.variations td {
  padding-bottom: 20px;
}

.variations td.label {
  width: 20%;
}

.variations td.value {
  width: 80%;
}

.woocommerce div.product form.cart .variations label {
  font-weight: 700;
  font-size: 14px;
  color: #999;
}

.woocommerce-variation-custom-availability {
  display: none;
}

.prod-descr {
  padding-bottom: 20px;
  padding-top: 15px;
  display: block;
  float: left;
  width: 100%;
}

.prod-descr,
.prod-descr p,
.prod-descr span,
.prod-descr li,
.prod-descr strong {
  font-weight: normal !important;
  color: #444 !important;
  line-height: 20px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px !important;
  text-align: left !important;
}

.prod-descr ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.prod-descr strong {
  font-weight: bold !important;
}

.prod-descr a {
  text-decoration: underline !important;
}

.prod-descr a:hover {
  color: #000;
}

.swatch-wrapper {
  border: 0;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  text-decoration: none;
}

.single-product .woocommerce-product-gallery__image {
  margin: 0 5px 5px 0;
}

.social-share h3 {
  color: rgba(0, 0, 0, .45);
  font-size: 20px;
  margin-bottom: 15px;
}

.social-share a {
  border-radius: 100%;
  border: 1px solid #efefef;
  width: 40px;
  display: inline-block;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  background: #efefef;
  color: #333;
  font-size: 18px;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.social-share a:hover {
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

a.fb-btn:hover {
  background: #4267b2;
  color: #fff;
}

a.maps-btn:hover {
  background: #20a361;
  color: #fff;
}

a.twitter-btn:hover {
  background: #1da1f2;
  color: #fff;
}

a.google-btn:hover {
  color: #fff;
  background: #dc4a38;
}

a.pinterest-btn:hover {
  background: #bd081c;
  color: #fff;
}

a.youtube-btn:hover {
  background: #FF0000;
  color: #fff;
}

a.instagram-btn:hover {
  color: #fff;
  background: #333;
}

/* simple page */

div.simple-page-section {
  padding-bottom: 50px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

div.simple-page-section h1 {
  font-weight: normal;
  color: #333;
}

div.simple-page-section p {
  color: #555 !important;
  font-size: 16px;
  line-height: 28px;
}

.simple-page-content a.added_to_cart.wc-forward {
  display: none;
}

/* contact */

section.contact-page h2 {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 27px;
  line-height: 30px;
  position: relative;
}

section.contact-page p,
section.contact-page label {
  font-size: 16px;
  line-height: 20px;
  color: #000 !important;
  font-weight: normal;
  width: 100%;
}

section.contact-page li {
  list-style: circle;
  padding-left: 10px;
  padding-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000;
}

section.contact-page ul {
  margin-left: 20px;
}

section.contact-page {
  padding-bottom: 50px;
}

.wpcf7 p {
  width: 100% !Important;
}

div.wpcf7 {
  padding-bottom: 35px;
}

p.contact-info {
  text-align: right;
  margin-top: 35px;
}

section.contact-page input,
section.contact-page textarea {
  background: #efefef;
  border: none;
  padding: 15px 10px;
  width: 100%;
}

section.contact-page label {
  color: #333;
}

section.contact-page h2:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #333;
  width: 80px;
  height: 3px;
  content: '';
}


section.contact-page input[type="submit"] {
  background: #333;
  color: #efefef;
  width: 185px;
  margin: 10px auto 0 auto;
  display: block;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

section.contact-page input[type="submit"]:hover {
  background: #efefef;
  color: #333;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

/* articles list */

.articles-page .home-news {
  margin-top: 30px;
}

.h-categories img {
  height: 240px;
  object-fit: cover;
  object-position: center;
  width: auto;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.h-category-title {
  text-align: center;
  padding: 15px 0;
}

.h-category-title a {
  color: #777;
  padding-top: 15px;
}

.h-category-title a:hover {
  color: #000;
}

.h-categories a {
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.h-categories-item:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

/* Back to top */

#button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: #0b0c0c;
  color: #ca683f;
  padding: 5px;
  display: inline-block;
  border-radius: 4px;
  font-size: 19px;
  padding: 15px 8px;
  border-radius: 30px;
  z-index: 130;
  width: 60px;
}

#button i {
  color: #ffffff;
}

#button:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/****************CHECKOUT***************/

.woocommerce-checkout ul.wc_payment_methods.payment_methods.methods input {
  display: inline;
}

.woocommerce-checkout ul.wc_payment_methods.payment_methods.methods label {
  display: inline;
}

.woocommerce-checkout p.mc4wp-checkbox.mc4wp-checkbox-woocommerce input {
  margin-right: 10px;
}

.woocommerce-checkout .woocommerce form .form-row {
  width: 100% !important;
  display: block;
}

.woocommerce form .form-row {
  padding: 3px;
  margin: 0 0 6px;
  display: block;
}

.woocommerce-checkout #payment div.payment_box input.input-text,
.woocommerce-checkout #payment div.payment_box textarea {
  width: 100% !important;
  padding: 8px;
}

.woocommerce-checkout .woocommerce #payment .form-row select,
.woocommerce-checkout #payment .form-row select {
  width: 100%;
  height: 30px;
}

.woocommerce-checkout .woocommerce .col2-set,
.woocommerce-checkout .col2-set {
  width: 100%;
}

.woocommerce-checkout .woocommerce .u-column1,
.woocommerce-checkout .u-column2 {
  float: left;
  width: 48%;
}

.woocommerce-checkout h3 {
  background-color: #000;
  /****CHANGE TO COLOR YOU WANT TO USE FOR TITLE BACKGROUND ****/
  width: 45%;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  color: #FFF;
  float: right;
  margin-bottom: 10px;
}

.woocommerce-checkout .woocommerce form .form-row input.input-text,
.woocommerce-checkout .woocommerce form .form-row textarea {
  padding: .6180469716em;
  background-color: #f2f2f2;
  color: #43454b;
  outline: 0;
  border: 0;
  -webkit-appearance: none;
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: 400;
  border: solid 2px #e4e4e4;
}

#wc_checkout_add_ons {
  width: 45%;
  float: right;
  text-align: center;
}

.woocommerce-checkout .woocommerce .col2-set .col-2,
.woocommerce-checkout.woocommerce-page .col2-set .col-2,
.woocommerce-checkout .woocommerce .col2-set .col-1,
.woocommerce-checkout.woocommerce-page .col2-set .col-1 {
  float: none;
  width: 100%;

  max-width: 100%;
}

.woocommerce-checkout .woocommerce-additional-fields h3 {
  width: 100%;
  display: none;
}

.select2-container--default .select2-selection--single {
  background-color: #f2f2f2;
  border: solid 2px #e4e4e4;
  height: 40px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
}

.woocommerce-checkout .woocommerce table.shop_table td {
  font-size: 13px;
  line-height: 20px;
}

.woocommerce-checkout-review-order-table th {
  background: #c1c1c1;
  font-size: 15px;
}

.woocommerce-checkout .woocommerce form .form-row .input-checkbox {
  margin: 8px 15px 0 0;
  text-align: left;
  vertical-align: middle;
  float: left;
  clear: none;
}

.woocommerce-page form .form-row label.checkbox span {
  margin-left: 20px;
}

@media screen and (min-width: 980px) {

  .woocommerce-shipping-fields h3,
  .woocommerce-billing-fields h3 {
    width: 100%;
  }

  .woocommerce-checkout .woocommerce .col2-set,
  .woocommerce-page .col2-set {
    width: 45%;
    float: left;
    padding-bottom: 40px;
  }

  .woocommerce-checkout-review-order {
    width: 45%;
    float: right;
  }

}

@media screen and (max-width: 979px) {
  .woocommerce-checkout h3 {
    width: 100%;
  }
}


/* cart */
.cart_item a {
  color: #555;
}

.cart_item a:hover {
  color: #333;
  text-decoration: none;
}

.woocommerce-cart table.cart input[type="text"] {
  width: 170px !important;
  padding: 8px 7px !important;
}

.woocommerce-cart table.cart input.button {
  padding: 11px 7px;
  background: #444;
  border: 1px solid #444;
  border-radius: 0;
  color: #fff;
  font-weight: normal;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.woocommerce-cart table.cart input.button:hover {
  background: #1b763c;
  color: #efefef;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.woocommerce .wc-proceed-to-checkout a.button,
a.button.view,
input.woocommerce-Button.button,
.woocommerce a.button,
.woocommerce-MyAccount-content input.button {
  padding: 10px 7px;
  background: #000;
  border: 1px solid #000;
  border-radius: 0;
  color: #fff;
  font-weight: normal;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
  display: none;
}

.woocommerce .wc-proceed-to-checkout a.button:hover,
a.button.view:hover,
input.woocommerce-Button.button:hover,
.woocommerce a.button:hover,
.woocommerce-MyAccount-content input.button:hover {
  background: #1b763c;
  color: #efefef;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background: #1b763c;
  color: #efefef;
}

.woocommerce table.shop_table.woocommerce-cart-form__contents th {
  background-color: #000;
  color: #fff;
}

/* checkout */
.woocommerce-billing-fields p {
  float: left !important;
  width: 100% !important;
}

.woocommerce-billing-fields p input,
.woocommerce-billing-fields p textarea {
  padding: 10px 7px;
}

input#place_order {
  background-color: #D53044;
  border-radius: 0;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

input#place_order:hover {
  background: #555;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.login input.woocommerce-Button.button,
.register input.woocommerce-Button.button {
  background: #D53044;
  color: #fff;
  border-radius: 0;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.login input.woocommerce-Button.button:hover,
.register input.woocommerce-Button.button:hover {
  background: #333;
  color: #E5E0BA;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.login input,
.register input {
  padding: 10px 7px;
}

.checkout_coupon input {
  padding: 10px 7px;
}

.checkout_coupon input.button {
  background-color: #B9C8C5;
  border-radius: 0;
  color: #fff;
  white-space: normal;
}

.checkout_coupon input.button:hover {
  background: #CB8391;
  color: #fff;
}

.woocommerce-checkout #payment {
  background: #efefef;
  border-radius: 5px;
}

.woocommerce-checkout #payment div.payment_box {
  background-color: #888;
}

.woocommerce-checkout #payment div.payment_box p {
  color: #fff !important;
}

.woocommerce-checkout #payment div.payment_box:before {
  content: "";
  display: block;
  border: 1em solid #888;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -.75em;
  left: 0;
  margin: -1em 0 0 2em;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #000;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #1b763c;
}

li.wc_payment_method.payment_method_paypal img,
li.wc_payment_method.payment_method_paypal a {
  display: none;
}

.load-images {
  background: #e2e0d9;
  width: 23% !important;
  float: left !important;
  margin-right: 15px;
}

span.tagged_as {
  clear: both;
  float: left;
  width: 100%;
  display: none;
}

/*single product tabs*/

div#productDetailTabs {
  display: block;
  float: left;
  clear: both;
  margin-top: 50px;
  width: 100%;
}

div#productDetailTabs .nav-pills>li.active>a,
div#productDetailTabs .nav-pills>li.active>a:focus,
div#productDetailTabs .nav-pills>li.active>a:hover {
  background: #aa8d74;
  color: #000;
  border-radius: 0;
  padding: 15px;
}

div#productDetailTabs .nav-pills>li>a {
  background: #efefef;
  color: #000;
  border-radius: 0;
  font-weight: normal;
  padding: 15px;
}

div#productDetailTabs .tab-pane {
  padding: 15px;
  border: 1px solid #efefef;
  width: 100%;
  float: left;
  width: 100%;
}

div#productDetailTabs .tab-pane ul {
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

div#productDetailTabs .tab-pane ul li {
  font-size: 14px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #0B0C0C;
  font-weight: 300;
  padding-bottom: 8px;
}

.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid grey;
}

.header {
  margin-top: 18px;
}

.search-wr {
  width: 60%;
  margin: 10px auto 0;
}

/*product detail icons*/

.product-danger-icons {
  display: block;
  float: left;
  width: 100%;
  margin: 30px 0;
}

.product-danger-icons h2 {
  background: #aa8d74;
  float: left;
  padding: 15px;
  margin-bottom: 10px;
}

.danger-image-wr {
  display: block;
  float: left;
  width: 100%;
  margin: 30px 0;
  height: 190px;
  text-align: center;
}

.skroutzReviews-wr {
  margin: 30px 0;
  display: block;
  float: left;
  width: 100%;
}

.holidaysMessage {
  border: 3px solid #aa8d74;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 130%;
}

.top-images {
  padding-top: 50px;
  padding-bottom: 60px;
  width: 80%;
}

.imgs-main-top {
  position: relative;
  box-shadow: 0px 0px 5px #00000030;
}

span.text-img {
  border: 1px solid white;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 99;
  bottom: 25px;
  right: 0;
  left: 0;
  width: 150px;
  margin: auto;
  background: black;
  padding: 7px 15px;
  box-shadow: 0px 0px 10px white;
}

.imgs-main-top .imgs-main-top-in {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.imgs-main-top .imgs-main-top-in:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  border: 1px solid transparent;
  pointer-events: none;
}

.imgs-main-top .imgs-main-top-in:hover:before {
  border-color: rgba(255, 255, 255, 0.8);
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
}

.imgs-main-top-in {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 315px;
}

section.partners-sec {
  width: 100%;
  position: relative;
  background: #eee;
  margin-top: 140px;
}

.partners-inn {
  width: 93%;
  margin: auto;
}

.section-padding {
  padding: 20px 0;
}

.brand-carousel .owl-dots {
  text-align: center;
  padding-top: 30px;
  display: none;
}

.brand-carousel img {
  max-width: 180px;
  height: auto;
  margin: auto;
}

.brand-carousel .owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #222222 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}

.brand-carousel .owl-dot.active {
  background-color: #aa8d74 !important;
}

.collapse:not(.show) {
  display: unset !important;
}

.hr-products-drop {
  color: #ccc;
}

.products-title-drop.active .hr-products-drop {
  border-top: 1px solid #848484;
  color: #848484;
}

.row-custom {
  padding-bottom: 9px;
  padding-top: 0px;
  cursor: pointer;
}

.hr-products-drop {
  border-top: 1px solid #ccc;
}

.product-content {
  display: none;
}

.products-title-drop {
  position: relative;
  margin-top: 10rem;
}

.products-title-drop:before {
  transform: rotate(45deg);
}

.products-title-drop:before {
  position: absolute;
  content: ' ';
  height: 23px;
  width: 23px;
  right: 21px;
  top: -6px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}


.products-title-drop.active:before {
  transform: rotate(-135deg);
  top: 4px;
}

.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
  opacity: 1 !important;
  color: red;
}

span.price del {
  color: red !important;
  opacity: 1 !important;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  background: inherit;
  font-weight: 700;
  display: inline-block;
  color: black;
}

.insta-title {
  text-align: center;
  padding-bottom: 32px;
}

.eapps-instagram-feed-posts-grid-load-more-text.eapps-instagram-feed-posts-grid-load-more-text-visible {
  background: #0b0c0c;
}

.dropdown-toggle::after {
  display: none;
}

.sale-perc {
  position: absolute;
  top: 10px;
  left: 5px;
  background: #333;
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  border-radius: 100%;
  font-size: 18px;
  padding: 12px 5px;
  border-radius: 30px;
  z-index: 30;
}

.onsale {
  display: none;
}

.woocommerce-loop-product__title {
  background: transparent !important;
  font-size: 14px !important;
  padding: 20px 20px 40px 20px !important;
  color: black !important;
  text-align: center;
}

.archive .woocommerce-loop-product__title {
  padding: 20px 20px 40px 20px !important;
}


.page-bg {
  padding-bottom: 50px;
}

.product_type_simple {
  display: none !important;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none !important;
  margin-bottom: 30px !important;
}

.woocommerce-pagination-sale {
  clear: both;
  margin-bottom: 40px;
  text-align: center;
}

.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li,
.woocommerce-pagination-sale a,
.woocommerce-pagination-sale span{
  margin: 2px;
}

.woocommerce nav.woocommerce-pagination ul li,
.woocommerce-pagination-sale a,
.woocommerce-pagination-sale span {
  border-right: 1px solid black !important;
  border: 1px solid black;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-pagination-sale a:hover,
.woocommerce-pagination-sale span:hover {
  background: black !important;
  color: white !important;
  padding: .5em 0.8em;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-pagination-sale a,
.woocommerce-pagination-sale span{
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1;
  font-size: 1em;
  font-weight: 400;
  padding: .5em 0.8em !important;
  min-width: 1em;
  display: block;
  color: black;
}

.woocommerce-pagination-sale a,
.woocommerce-pagination-sale span {
  display: inline-block;
  margin-right: 5px;
}

.woocommerce-pagination-sale a.current,
.woocommerce-pagination-sale span.current {
  background: #000;
  color: #fff;
}

.prdctfltr_woocommerce.pf_default .prdctfltr_woocommerce_ordering {
  display: block !important;
}

.woocommerce ul.products li.product a img {
  padding: 15px;
}

.dfl-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dfl-f .prdctfltr_columns_1 .prdctfltr_filter {
  display: flex !important;
  align-items: center;
}

.prdctfltr_filter {
  margin-bottom: 0;
}


span.prdctfltr_widget_title {
  color: black;
  display: inline-block;
  padding: 4px 12px 4px 0;
  margin-bottom: 15px;
  font-size: 13px;
  cursor: pointer;
}

.prdctfltr_terms_customized_select .prdctfltr-down,
.prdctfltr_terms_customized_select .prdctfltr-up,
.pf_default_select .prdctfltr-down,
.pf_default_select .prdctfltr-up,
.pf_select .prdctfltr-down,
.pf_select .prdctfltr-up {
  display: none !important;
}

.dfl-f .orderbyk2 .prdctfltr_checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.dfl-f .prdctfltr_filter label {
  margin-right: 20px !important;
}

.prdctfltr_filter label {
  font-size: 13px !important;
}

.prdctfltr_wc .prdctfltr_buttons {
  display: none;
}

.center .owl-nav.disabled {
  display: none;
}

.protin {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  color: #0B0C0C;
  font-weight: bold;
  display: block;
  text-align: center;
  position: relative;
}

.protin:before {
  content: '';
  display: block;
  background: black;
  width: 310px;
  height: 2px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: -5px;
}

.protin:after {
  content: '';
  display: block;
  background: black;
  width: 310px;
  height: 2px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 35px;
}

.woocommerce div.product .stock {
  color: #000 !important;
}

.map {
  margin-top: 35px;
}

.tinvwl_add_to_wishlist-text,
.tinv-wishlist a {
  color: #000;
}

.dflexheadi {
  display: flex;
  justify-content: flex-start;
}

.fet-text {
  font-size: 24px;
  line-height: 1.25;
  display: block;
  font-weight: bold;
}

.fet-text-small {
  font-size: 19px;
  line-height: 1.25;
  display: block;
  padding-top: 10px;
}

.tcount {
  font-size: 28px;
  color: #000;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
  display: block;
}

.tcount-title {
  font-size: 16px;
  line-height: 1.25;
  display: block;
  color: grey;
}

.fet_title_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_box {
  padding: 15px;
  border: 1px solid grey;
  width: calc(90% / 6);
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
  background-color: white;
}

.category_box:hover {
  box-shadow: 0px 0px 8px #0000005c;
}

.category_box h1 {
  text-align: center;
  font-size: 13px;
  display: block;
  padding: 0;
  margin: 0;
  line-height: 19px;
}

.category_box span {
  text-align: center;
  font-size: 13px;
  display: block;
  color: grey;
}


.fet_title_all .fet_in:nth-child(1) {
  margin-right: 45px;
}


.fet_in {
  border-left: 3px solid black;

  padding-left: 15px;
}

.dflexboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.dflexboxes2 {
  margin: auto;
  display: flex;
  justify-content: center;
}


section.featured_categories.container {
  margin-top: 50px;
}

/*RESPONSIVE*/

@media (min-width: 992px) {
  nav li:hover {
    position: static !important;
    list-style: none;
  }

  nav li:hover ul {
    width: 938px;
    display: block;
    background: #333;
    border: none;
    box-shadow: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    padding-right: 270px;
    min-height: 300px;
    border-radius: 0;
    list-style: none;
    padding: 15px 0;
  }

  nav li:hover ul li {
    background: none !important;
    border: none !important;
    width: 100%;
    float: left;
    display: block;
    position: relative !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    max-width: 130px;
    list-style: none;
    display: block !important;
  }


  nav li:hover ul li a {
    word-wrap: break-word;
    white-space: normal;
    color: #aaa !important;
    text-align: left;
    line-height: 100%;
    color: #fff !important;
  }

  nav li:hover ul ul {
    display: block !important;
    position: relative;
    width: auto !important;
    height: auto;
    float: left;
    background: none;
    padding-right: 0;
    min-height: 20px;
  }

  nav li:hover ul ul li a {
    font-weight: normal;
    padding: 5px 15px !important;
    font-size: 12px !Important;
    color: #bbb !important;
  }

  nav li ul ul li {
    float: none !important;
    display: inline !important;
    width: 100% !important;
  }

  nav ul li.menu-item-8378 ul {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
  }

  nav ul li.menu-item-8378 ul ul {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }

  nav ul li.menu-item-8454 ul {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
  }

  nav ul li.menu-item-8454 ul ul {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }

  span.menu-banner {
    position: absolute;
    right: 0;
    top: 0;
  }

  span.menu-banner img {
    max-width: 290px;
  }

  span.sm-cateogories {
    float: left;
    width: 310px;
    word-wrap: break-word;
    white-space: normal;
  }

  span.sm-cateogories li {
    width: 100% !important;
  }

  span.sm-cateogories li a {
    padding: 0 !important;
  }

  span.sm-cateogories li>a {
    color: #666;
    font-size: 13px;
  }

  nav li.menu-item-12313:hover ul li {
    max-width: 170px;
  }

  nav li.menu-item-12316:hover ul li {
    max-width: 210px;
  }


  nav ul ul,
  nav ul ul li {
    visibility: hidden;
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  /* style for simple dropdown */

}

@media (min-width: 1200px) {

  nav li:hover ul li {
    max-width: calc(95% / 4);
    margin-left: 5px;
  }
}

/*Gia mikri analusi kuriws paliwn laptop*/

@media screen and (max-width: 1366px) {}

/*Gia Apple analuseis*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (min-device-pixel-ratio: 1.3),
only screen and (min-resolution: 120dpi) {}

@media (max-width: 991px) {

  .main-menu nav .menu .sub-menu {
    display: none;
  }

  .slider-right__product {
    overflow-y: visible;
    max-height: 100% !important;
    height: auto;
  }

  .slide-right__js-open .slide-right {
    height: 100%;
    overflow-y: auto;
  }

  .menu.main-menu {
    position: fixed;
    top: 0;
    z-index: 999;
  }

  section.topheader {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    top: 0;
    left: 0;
  }

  .menu ul {
    width: 100% !important;
    float: left;
  }

  .menu ul li a {
    font-size: 15px !important;
  }

  header nav {
    width: 100%;
  }

  .dropdown-menu {
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  header .navbar-nav ul,
  header .nav-justified ul {
    float: left;
    width: 100% !important;
  }

  .menu ul li.dropdown.open {
    background: #333;
    padding: 0;
  }

  .menu ul>li>a {
    padding: 10px 15px;
  }

  .menu ul li.dropdown.open a {
    color: #fff;
    padding: 15px;
  }

  .button-wr {
    margin: 0;
  }

  .button-wr button {
    color: #fff !important;
    margin: 0;
    line-height: 100%;
    outline: none !important;
    border: none;
    background: #222;
    padding: 14px 15px 10px 15px;
    border-radius: 0;
  }

  .button-wr button .fa {
    font-size: 20px;
  }

  .button-wr {
    margin: 0;
  }

  .topheader .text-left,
  .topheader .text-right {
    padding-top: 10px;
  }

  .home-categories .sm-images img {
    height: 172px;
  }

  .slider-top-img img {
    height: 385px;
  }

  .slider .sm-images img {
    height: 185px;
  }

  .home-categories-second .sm-images img {
    height: auto;
  }

  section.slider {
    padding-top: 0;
    margin-top: 15px;
  }

  .filters {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
  }

  .prdctfltr_columns_1 .prdctfltr_filter {
    width: 25%;
  }

  .prdctfltr_columns_1 .prdctfltr_filter .prdctfltr_add_scroll {
    max-height: 200px;
    overflow-y: scroll;
  }

  .footer-level__outer {
    display: none;
  }

  .home-categories-box img {
    height: 250px;
  }

  span.header-cart-btn span,
  .header-stores-btn span {
    display: none;
  }

  .top-images {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
  }

  .imgs-main-top-in {

    height: 250px;
    margin-bottom: 15px !important;
  }

  span.header-cart-btn {
    padding: 10px 5px 10px 10px;
  }

  .slider-main {
    margin-top: 30px;
  }

  .cart-hidden {
    width: 120px;
  }

  .before-menu-info {
    margin-top: 20px;
  }

  .woocommerce .woocommerce-breadcrumb {
    padding-top: 20px;
  }

  .sale-product-wr ul.products li {
    width: 31% !important;
  }

  .sale-product-wr ul.products li:nth-child(4n+1) {
    clear: none !important;
  }

  .sale-product-wr ul.products li:nth-child(3n+1) {
    clear: both !important;
  }

  .related li {
    width: 48% !important;
  }

  .related li:nth-child(2n+1) {
    clear: both !important;
  }

  .cookie-message {
    z-index: 99999;
    position: fixed;
    top: auto;
    bottom: 0;
  }

  .overlayBasket {
    background: none;
  }

  .overlay {
    z-index: 100;
  }
}

@media (max-width: 767px) {

  .top-bar {
    display: block;
    margin-top: 37px;
  }

  .info-til {
    color: white;
    text-align: center;
    display: block;
  }

  section.featured_categories.container {
    margin-top: 8px;
  }

  .fet_title_all {
    margin-top: 30px;
  }

  .protin:before {
    content: '';
    display: block;
    background: black;
    width: 310px;
    height: 2px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    top: auto;
  }

  .protin:after {
    content: '';
    display: block;
    background: black;
    width: 310px;
    height: 2px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    top: auto;
  }

  .fet-text-small {
    font-size: 16px;
  }

  .category_box h1 {
    font-size: 11px;
    line-height: 15px;
  }

  .category_box {
    padding: 15px;
    border: 1px solid grey;
    width: calc(130% / 3);
    margin-bottom: 16px;
    margin-right: 7px;
    cursor: pointer;
  }

  .dflexboxes2 {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .tcount {
    font-size: 24px;
  }

  .fet-text {
    font-size: 21px;
  }

  .dflexboxes {
    display: block;
  }

  .header-cart-btn a {
    margin-right: 7px;
  }

  .tx-sm-left {
    text-align: left;
  }

  .dflexheadi {
    display: block;
  }

  .header-cart-wr {
    float: none;
    display: block;
    position: relative;
    margin: auto;
    display: flex;
    margin: 15px auto 0px;
    justify-content: center;
  }

  .related h2 {
    margin-left: 15px;
  }

  .single-product .crumbs {
    display: none;
  }

  .woocommerce ul.products[class*=columns-] li.product:nth-child(2n),
  .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
    float: none !important;
  }

  .tax-product_cat.woocommerce ul.products,
  ul.products.columns-4 {
    padding: 15px !important;
    margin: 0 !important;
  }

  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    float: none;
    margin: 0 20px 20px 0 !important;
    position: relative;
    width: 100% !important;
    padding: 20px 10px 30px 10px !important;
    overflow: hidden !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    height: 465px !important;
  }

  .archive .product .price,
  .page-template-archive-product_sale .price {
    left: 10px !important;
  }

  .archive .woocommerce-loop-product__title {
    padding-left: 0px !important;
  }

  .orderbyk {
    margin-top: 15px;
  }

  .orderbyk2 {
    margin-top: -25px;
  }

  .dfl-f {
    display: block;
  }

  .map iframe {
    width: 100%;
    height: 370px;
  }

  .page-bg {
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .page-title {
    margin-top: 20px;
  }

  .footer-info {
    padding: 15px 0;
  }

  .related li {
    width: 100% !important;
  }

  .custom-logo {
    max-width: 120px !important;
    width: 100%;
    padding: 0px;
  }

  .logo-mobile a {
    display: block;
    z-index: 9999;
    width: auto;
    height: 50px;
    margin-top: 15px;
  }

  .mc4wp-form-fields {
    width: auto;
    text-align: center;
  }

  .page-bg .related.products {
    margin-left: 15px;
    margin-right: 15px;
  }

  .woocommerce div.product div.images .flex-control-thumbs li {
    margin-top: 10px !important;
    margin-right: 10px !important;
  }

  .woocommerce div.product div.summary {
    padding-left: 15px;
    padding: 15px;
  }

  .woocommerce div.product div.images.woocommerce-product-gallery {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .newsl-input {
    display: block;
  }

  input.newsl-input2 {
    padding: 10px 10px;
    max-width: 100%;
    width: 95%;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    -webkit-transition: all 800ms ease-out;
    -moz-transition: all 800ms ease-out;
    -o-transition: all 800ms ease-out;
    transition: all 800ms ease-out;
    color: #0B0C0C;
    height: 50px;
    display: block;
    margin: auto;
  }

  input.newsl-button {
    margin-top: 10px;
  }

  #fixedmenu {
    position: fixed;
    top: 0 !important;
  }

  section.topheader {
    display: none;
  }

  nav.navbar.navbar-expand-md {
    padding: 25px 0;
  }

  .fixed-xs-phone {
    position: absolute;
    right: 15px;
    top: 8px;
  }

  .navbar-collapse>ul {
    margin-top: 145px;
  }

  .navbar-collapse ul li {
    display: block;
    text-align: center;
    background: #000 !important;
  }

  .hero__image {
    height: 250px;
  }

  .navbar-collapse a {
    color: white !important;
    font-size: 18px !important;
    font-style: normal;
    padding: 14px !important;
    position: relative;
    font-weight: 500 !important;
  }

  .navbar-collapse {
    position: fixed;
    background: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    overflow-x: scroll;
  }

  .navbar-collapse.show {
    height: 100%;
  }

  .navbar-collapse,
  .navbar-collapse.show {
    -webkit-transition: opacity .2s, visibility .2s, height 1.2s;
    transition: opacity .2s, visibility .2s, height 1.2s;
    z-index: 99;
  }

  .navbar-toggler.active {
    z-index: 999;
  }

  .navbar-toggler-icon {
    background: #ffffff;
    border: none;
    height: 2.2px;
    width: 37px;
    position: absolute;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    margin: 5px 0;
    outline: none;
  }

  .navbar-toggler span:nth-of-type(1) {
    top: 0;
  }

  .navbar-toggler span:nth-of-type(2) {
    top: 10px;
  }

  .navbar-toggler span:nth-of-type(3) {
    top: 20px;
  }

  .navbar-toggler.active .top {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: white;
  }

  .navbar-toggler.active .middle {
    opacity: 0;
  }

  .navbar-toggler.active .bottom {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: white;
  }

  .dropdown .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 14px;
    margin-left: 13px;
    content: '+';
    border: none;
  }

  .dropdown.show>.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 14px;
    margin-left: 13px;
    content: '-';
    border: none;
  }

  .dropdown.open>.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 14px;
    margin-left: 13px;
    content: '-';
    border: none;
  }

  .nav-item.open>.dropdown-menu {
    display: block;
  }

  .menuCloseBtn .fa.fa-times {
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
  }

  .menu ul li.dropdown ul li a {
    white-space: normal;
    text-align: center;
  }

  .menuCloseBtn {
    position: relative;
  }

  a.filters_button {
    display: block;
  }

  .prod-side {
    display: none;
  }

  .prod-main {
    padding-left: 0;
  }

  .prod-main.category-page {
    padding-left: 15px;
  }

  .pad-right-0 {
    padding-right: 15px;
  }

  .slider-top-img img {
    height: auto;
  }

  .slider .sm-images img {
    height: auto;
    float: left;
    padding-top: 15px;
    width: 50%;
  }

  .slider .sm-images img:first-child {
    padding-right: 15px;
  }

  .logo-wr {
    margin-top: -25px;
    display: none;
  }

  .search-wr {
    margin-top: 35px;
  }

  .home-categories .sm-images img {
    height: auto;
  }

  .xs-login span {
    display: none;
  }

  .xs-login a {
    background: white;
    padding: 14px 15px 10px 15px;
    margin-left: 5px;
  }

  .xs-login a .fa {
    font-size: 20px;
  }

  .xs-login {
    margin-left: 10px;
    display: block;
    float: right;
  }

  .xs-header-login {
    text-align: left;
  }

  .product-item {
    height: auto !important;
    margin: 15px;
    padding: 15px;
  }

  .bubble .inside-text {
    right: 20px;
  }

  section.contact-page p.contact-info {
    text-align: left;
  }

  .owl-next {
    right: 15px !important;
  }

  .owl-prev {
    left: 15px !important;
  }

  .home-categories-box img {
    height: auto;
  }

  .topheader .text-left,
  .topheader .text-right {
    padding-top: 0;
  }

  .before-menu-info .col-12 {
    border-bottom: 5px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .before-menu-info .col-12:last-child {
    border: none;
    padding: 0;
    margin: 0;
  }

  .dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
    max-width: 100%;
  }

  footer {
    padding-top: 30px;
  }

  .newsletter-banner {
    padding-top: 30px;
  }

  .newsl-input {
    margin-bottom: 30px;
  }

  .images-wr {
    text-align: center;
    margin-bottom: 30px;
  }

  .images-wr img {
    display: inline;
  }

  .cart-pro-icon-mobile {
    display: none !important;
  }

  .prod-item .product-item span.price {
    position: relative;
    bottom: auto;
    left: auto;
  }

  section.header {
    padding-top: 70px;
  }

}